html,body{
    margin: 0%;
    border: 0cap;
    padding: 0%;
}

.webtop {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;

    #mainword {
        margin-bottom: 6px;
    }

    #subword {
        margin-top: 10px;
        font-weight: 100;
    }

    .textcontent {

        font-size: small;
        text-align: left;
        border-radius: 5px;
        box-shadow: 0px 0px 1px black;
        display: inline-block;
        padding: 10px;

        .text {
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .box {
            border: 0;
            border-radius: 3px;
            box-shadow: 0px 0px 1px black;
            margin: 0%;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 7px;
        }

        #box2 {
            height: 40px;
            border: 0;
            margin: 0%;
            padding-left: 7px;
            box-shadow: 0px 0px 1px black;
            border-radius: 3px;
        }

        #button {
            border-radius: 4px;
            border: 0cap;
            margin-top: 10px;
            width: 150px;
            display: block;
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 7px;
        }
    }
}